<header class="h-16 bg-[#181818] shadow-md flex items-center justify-center border-b border-[#242424] sticky top-0 z-10">
    <div class="flex items-center space-x-3">
    <img src="asssets\android-chrome-192x192.png" alt="Logo" class="h-10 w-auto object-contain">
    <p class="text-xl font-bold text-gray-100 tracking-wide uppercase">
      AGENTURI <span class="text-green-500">CARLOS ZARATE</span>
    </p>
  </div>
  
    <p class="text-xl font-bold text-gray-100 tracking-wide uppercase">
    AGENTURI <span class="text-green-500"> by CARLOS ZARATE</span>
  </p>
</header>
